{{ define "home" }}

{{ template "header" . }}


<div id="middle-section">

    <table>

        <tr>
            <td class='link'><a href='/kn'>/kn</a></td>
            <td>Knative-specific data as defined in the
                <a href='https://github.com/knative/serving/blob/master/docs/runtime-contract.md'>
                    Runtime Contract
                </a>
            </td>
        </tr>

        <tr>
            <td class='link'><a href='/req'>/req</a></td>
            <td>Request context with environment variables and headers</td>
        </tr>

        <tr>
            <td class='link'><a href='/node'>/node</a></td>
            <td>Serving node info (ID, Hostname, OS, Boot-time, Memory etc.)</td>

        <tr>
            <td class='link'><a href='/log'>/log</a></td>
            <td>Content of specific log or log list in dir (e.g.
                <a href='/log?logpath=/var/log/tellmeall.log'>tellmeall logs</a>)
            </td>
        </tr>

        <tr>
            <td class='link'><a href='/_healthz'>/_health</a></td>
            <td>Responds with 'OK' (ala health check)</td>
        </tr>


    </table>

</div>

{{ template "footer" . }}

{{ end }}